{% extends "base.html" %}
{% block body %}

<h1 class="font-bold text-3xl text-white text-center pb-5 pt-5">About Us</h1>
<hr class="my-4 border-t-2 border-gray-300 mx-10 lg:mx-20" />
<p class="font-bold text-xl m-auto text-white text-center pb-5 pt-2 px-10 lg:px-20">Welcome to Pi Library, your gateway to a world of knowledge, imagination, and discovery. Established with a vision to nurture a love for reading and learning, we serve as a vibrant hub for students, researchers, and book enthusiasts alike. Whether you're seeking academic resources, classic literature, or the latest bestsellers, our diverse collection has something for everyone.

    At Pi Library, we believe that libraries are more than just a place to borrow books. They are sanctuaries for curiosity, creativity, and community. Our mission is to foster lifelong learning, inspire intellectual curiosity, and provide access to a rich tapestry of knowledge. With a user-friendly digital catalog and dedicated spaces for reading, research, and collaboration, we strive to make your library experience as seamless and enriching as possible.
    
    In addition to our extensive collection of books, journals, and digital resources, we offer a variety of programs, workshops, and events designed to engage and educate our community. From author talks and book clubs to hands-on learning sessions, we aim to cultivate a love for reading and learning in people of all ages.
    
    Our dedicated staff is always here to assist you—whether it's finding the perfect book, navigating our online resources, or offering recommendations tailored to your interests. At Pi Library, we are committed to making information accessible and empowering individuals through knowledge.
    
    Join us in our journey of exploration, learning, and connection. Discover your next favorite book, find a quiet corner to read, or engage with a community of fellow book lovers. Welcome to Pi Library, where every story begins.</p>

{% endblock  %}