{% extends "base.html" %}
{% block body %}

<div class="" style="padding-bottom: 200px;">
  <section class="">
    <h5 class="p-4"></h5>
    
    <div class="mx-auto  bg-white py-2  mb-8 flex flex-wrap justify-center">
      <div class="m-2">
        <div class="box text-center border border-gray-400 rounded-md py-2 px-4 hover:shadow-md">
          <a href="{% url 'home' %}" class="text-decoration-none text-10xl text-gray-800" style="font-size: 22px;"><h3>All</h3></a>
        </div>
      </div>
      {% for category in categories %}
        <div class="m-2">
          <div class="box text-center border border-gray-400 rounded-md py-2 px-4 hover:shadow-md">
            <a href="{% url "booklist_by_category" category.slug %}" class="text-decoration-none text-10xl text-gray-800" style="font-size: 22px;"><h3>{{ category.name }}</h3></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <hr />
  
   <style>
     .card {
       background: white;
      padding: 1rem; 
      margin: 0.5rem; 
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 1px 4px 10px;
    }
  
    .card img {
      max-width: 250px;
      width: 100%; 
      height: auto; 
      max-height: 220px; 
      object-fit: cover; 
      margin-bottom: 1rem; 
    }
  </style>
  
  <section class="p-5  bg-green-50 md:p-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-4 items-start" style="padding-top: 10px;">
    {% for book in books %}
      <section class="card bg-purple-50 text-center transform duration-500 hover:-translate-y-2 cursor-pointer">
        <img src="{{ book.image.url }}" alt="{{ book.title }}" />
        
        <a href="{% url "book_detail" book.id %}" class="text-decoration-none text-gray-800"><h4 class="text-3xl my-5">{{ book.title }}</h4> </a>
        <p class="card-text">{{ book.description|truncatechars:70 }}</p>
        <p class="card-text">Available: {{ book.quantity }}</p>
        <h2 class="font-semibold mb-4">${{ book.price }}</h2>
        <a href="">
          <button class="p-2 px-6 bg-purple-500 text-white rounded-md hover:bg-purple-600">Borrow</button>
        </a>
      </section>
      {% endfor %}
    </section>
  

{% endblock  %}